body {
  background-color: #B8E986;
  margin: 0;
}

.l1 {
  background-color: #4A90E2 ;
  width: 33%;
  height: 100vh;
  margin: 0;
}

.l2 {
 background-color: #50E3C2;
 width: 33%;
 float: right;
 height: 100vh;
 margin-top: -100vh;
}

.rb {
  position: absolute;
 background-color: red;
 width: 33%;
 height: 20%;
 float: right;
 text-align: center;
 color: white;
 font-family: sans-serif;
 bottom: 0;
 padding-top: 5%;
}
