body {
background-color: silver;
}

.header {
  background-color: black;
  width: 2000px;
  height: 200px;
  margin-left: -10px;
  margin-top: -10px;
}

.wb {
 background-color: white;
 width: 1600px;
 height: 1000px;
 margin-left: 150px;
 margin-right: 150px;
}

.footer {
  background-color: black;
  width: 1600px;
  height: 200px;
  margin-left: 150px;
}
